.container {
  max-width: 1310px;
}

/*
    BOOTSTRAP FIX
*/

/* The Bootstrap float-left class doesn't seem to work with links as wrappers of an image */
.float-left {
  float: left;
}
/* Also the mr class doesn't seem to work on a floated element */
.float-left.mr-2 {
  margin-right: 0.5rem;
}
